<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>维修</title>
</head>
<body>
<div id="app">
    <div class="content-header">
        <h1>维修</h1>
    </div>
    <div class="app-container">
        <div class="box">
            <!--模糊查询条件            -->
            <div class="filter-container">
                <el-input placeholder="地址" v-model="weixiu.address" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-input placeholder="维修状态" v-model="weixiu.status" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="getAll()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">申请维修</el-button>
            </div>

            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="address" label="地址" align="center"></el-table-column>
                <el-table-column prop="type" label="项目" align="center"></el-table-column>
                <el-table-column prop="set_date" label="报修日期" align="center"></el-table-column>
                <el-table-column prop="status" label="维修状态" align="center">
                    <template slot-scope="scope">
                        <span v-if="scope.row.status === 0">审核中</span>
                        <span v-else-if="scope.row.status === 1">维修中</span>
                        <span v-else-if="scope.row.status === 2">已维修</span>
                    </template>
                </el-table-column>
                <el-table-column prop="money" label="维修费用" align="center"></el-table-column>
                <el-table-column prop="date" label="维修日期" align="center"></el-table-column>
            </el-table>

            <!-- 申请维修标签弹层 -->
            <div class="add-form">
                <el-dialog title="维修申请" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="32">
                                <el-form-item label="地址" required prop="id">
                                    <template>
                                        <el-select v-model="formData.id" placeholder="请选择出租屋地址">
                                            <el-option
                                                    v-for="address in addresslist"
                                                    :key="address.index"
                                                    :label="address.address"
                                                    :value="address.id"
                                            ></el-option>
                                        </el-select>
                                    </template>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="问题描述" required prop="type">
                                    <el-input type="textarea" v-model="formData.type"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="图片说明" prop="tupian">
                                    <el-form-item label="问题附件">
                                        <el-upload action="/common/upload">
                                            <el-button size="small" type="primary">点击上传</el-button>
                                        </el-upload>
                                    </el-form-item>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="add()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
    <!--分页工具条-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../../../plugins/js/vue.js"></script>
<link rel="stylesheet" href="../../../plugins/element-ui/index.css">
<script src="../../../plugins/element-ui/index.js"></script>
<script src="../../../plugins/js/axios-0.18.0.js"></script>
<script src="../../js/weixiu.js"></script>
</html>