<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <style>
        body {
            background-image: url("https://img1.baidu.com/it/u=1126489250,363980384&fm=253&fmt=auto&app=120&f=JPEG?w=1067&h=800");
            background-size: cover;
        }

        div.transbox {
            width: 850px;
            height: 700px;
            margin: 90px auto;
            background-color: #ffffff;
            border: 1px solid #FFFFFF;
            opacity: 0.8;
        }

        h1 {
            text-align: center;
        }

        img {
            height: 150px;
            width: 150px;
            margin-left: 9cm;
        }

        h2.ex1 {
            margin-left: 6cm;
        }

        #btn {
            margin-top: 50px;
            margin-left: 8cm;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="background">
        <div class="transbox">
            <h1>个人资料</h1>
            <img :src="imagetx" id="yhtx">
            <h2 class="ex1">用户名： {{user.username}}</h2>
            <h2 class="ex1">姓名： {{user.realname}}</h2>
            <h2 class="ex1">性别：{{user.sex}}</h2>
            <h2 class="ex1">身份证： {{user.sfz}}</h2>
            <h2 class="ex1">电话：{{user.phone}}</h2>
            <h2 class="ex1">邮箱：{{user.email}}</h2>
            <div id="btn">
                <el-row>
                    <el-button type="primary" @click="handleUpdate()">修改</el-button>
                    <el-button type="danger" @click="handleDelete()">注销</el-button>
                </el-row>
            </div>
        </div>
    </div>
    <!--    修改-->
    <div class="add-form">
        <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
            <el-form ref="dataEditForm" :model="formData" label-position="right"
                     label-width="100px">
                <el-row>
                    <el-col :span="32">
                        <el-form-item label="头像:" prop="avatar" class="uploadImg">
                            <el-upload class="avatar-uploader"
                                       action="/common/upload"
                                       :show-file-list="false"
                                       :on-success="handleAvatarSuccess"
                                       ref="upload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar" style="margin-left: 10px"/>
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="formData.username"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="formData.password"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="电话" prop="phone">
                            <el-input v-model="formData.phone"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="邮箱">
                            <el-input v-model="formData.email" type="email"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                <el-button type="primary" @click="handleEdit()">确定</el-button>
            </div>
        </el-dialog>
    </div>
</div>

<script src="../../plugins/js/vue.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/index.css">
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            dialogFormVisible4Edit: false,
            formData: {},
            user: {
                id: "",
                username: "",
                realname: "",
                sfz: "",
                sex: "",
                phone: "",
                email: "",
                tx: "f0ec75082e1e4299919ea51517dd1903.jpg"
            },
            imageUrl: "",
            imagetx: "",
        },
        methods: {
            handleAvatarSuccess(response, file, fileList) {
                this.user.tx = response.data;
                this.imageUrl = `/common/download?name=${response.data}`
                console.log(this.imageUrl)
                console.log(response.data)
            },
            getUser() {
                axios({
                    url: "/user/getUser",
                    method: "get",
                }).then(resp => {
                    if (resp.data.code == 1) {
                        this.user = resp.data.data
                        //刚登录时获取用户头像
                        this.imagetx = `/common/download?name=${this.user.tx}`
                        console.log(this.tx)
                    } else {
                        this.$message.error(resp.data.msg);
                    }
                })
            },
            handleEdit() {
                axios({
                    method: "post",
                    url: "/user/update",
                    data: this.user
                }).then((res) => {
                    //弹窗
                    this.$message.success("修改成功")
                    this.imagetx = this.imageUrl
                    //
                    //操作成功，关闭窗口
                    this.dialogFormVisible4Edit = false;
                })
            },
            select() {
                this.formData = this.user;
            },
            handleUpdate() {
                this.avatar = null;
                this.dialogFormVisible4Edit = true;
                //回显数据
                this.select();
            },
            handleDelete() {
                this.$confirm("此操作将注销账号，是否继续？", "提示", {
                    type: "info"
                }).then(() => {
                    axios({
                        method: "delete",
                        url: "/user/delete?id=" + this.user.id,
                    }).then((res) => {
                        if (res.data.code == 1) {
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    })
                    location.href = "index.html";
                })
            }
        },
        mounted() {
            this.getUser();
        }
    })
</script>
</body>
</html>

