html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(../image/Desert.jpg) no-repeat 0px 0px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.box {
    width: 450px;
    height: 350px;
    margin: 200px auto;
    background-color: white;
}
h3{
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 140px;
    font-size: 32px;
}

.login {
    width: 356px;
    height: 339px;
    margin: auto;
}

.login input {
    width: 356px;
    height: 50px;
    border: 1px solid #ccc;
    padding-left: 15px;
    margin-bottom: 14px;
    box-sizing: border-box;
}

.login #btn {
    width: 356px;
    height: 50px;
    background-color: skyblue;
    color: #fff;
    border: none;
}

