<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.xszf.mapper.UserMapper">
    <insert id="userAdd" parameterType="com.win.xszf.mapper.UserMapper">
        insert into user(id, username, password, phone, sex, realname, sfz, createTime, tx, yhsf, zt, Email)
        values (#{id}, #{username}, #{password}, #{phone}, #{sex}, #{realname}, #{sfz}, #{createTime}, #{tx}, #{yhsf},
                #{zt},
                #{Email})
    </insert>
    <update id="userUpdate" parameterType="com.win.xszf.pojo.entity.User">
        update user
        <set>
            <if test="username!=null and username!=''">
                ,username =#{username}
            </if>
            <if test="password!=null and password!=''">
                ,password =#{password}
            </if>
            <if test="realname!=null and realname!=''">
                ,realname =#{realname}
            </if>
            <if test="sex!=null and sex!=''">
                ,sex =#{sex}
            </if>
            <if test="sfz!=null and sfz!=''">
                ,sfz =#{sfz}
            </if>
            <if test="phone!=null and phone!=''">
                ,phone =#{phone}
            </if>
            <if test="Email!=null and Email!=''">
                ,Email =#{Email}
            </if>
            <if test="yhsf!=null and yhsf!=''">
                ,yhsf =#{yhsf}
            </if>
            <if test="zt!=null and zt!=''">
                ,zt =#{zt}
            </if>
            <if test="tx!=null and tx!=''">
                ,tx =#{tx}
            </if>
            where id = #{id}
        </set>
    </update>
    <!--    动态sql-->
    <select id="selectByUser" parameterType="com.win.xszf.pojo.entity.User" resultType="com.win.xszf.pojo.entity.User">
        select * from user where 1=1
        <if test="username != null and username !=''">
            and username like CONCAT ('%', #{username}, '%')
        </if>
        <if test="realname != null and realname !=''">
            and realname like CONCAT ('%', #{realname}, '%')
        </if>
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="phone != null and phone !=''">
            and phone like CONCAT ('%', #{phone}, '%')
        </if>
        <if test="Email != null and Email !=''">
            and Email like CONCAT ('%', #{Email}, '%')
        </if>
        <if test="yhsf != null">
            and yhsf = #{yhsf}
        </if>
    </select>


    <select id="pageQuery" resultType="com.win.xszf.pojo.entity.User">
        select * from user
        <where>
            <if test="username != null and username !=''">
                and username like CONCAT ('%', #{username}, '%')
            </if>
            <if test="realname != null and realname !=''">
                and realname like CONCAT ('%', #{realname}, '%')
            </if>
            <if test="sex != null and sex != '' ">
                and sex = #{sex}
            </if>
            <if test="phone != null and phone !=''">
                and phone like CONCAT ('%', #{phone}, '%')
            </if>
            <if test="Email != null and Email !=''">
                and Email like CONCAT ('%', #{Email}, '%')
            </if>
            <if test="yhsf != null">
                and yhsf = #{yhsf}
            </if>
            <if test="zt != null">
                and zt = #{zt}
            </if>
        </where>
        order by createTime desc
    </select>

    <select id="UserShpageQuery" resultType="User">
        select * from user where yhsf = 2
        <if test="username != null and username !=''">
            and username like CONCAT ('%', #{username}, '%')
        </if>
        order by createTime desc
    </select>

    <select id="fdQueryZk" resultType="com.win.xszf.pojo.entity.User">
        SELECT u.*
        FROM `user` u
        JOIN rent r ON u.id = r.user_id
        JOIN house h ON r.house_id = h.id
        WHERE h.user_id = #{id}
        <if test="username != null and username !=''">
            and username like CONCAT ('%', #{username}, '%')
        </if>
        <if test="phone != null and phone !=''">
            and phone like CONCAT ('%', #{phone}, '%')
        </if>
        order by createTime desc
    </select>
</mapper>