<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>登录页面</title>
  <link rel="stylesheet" href="pages_admin/css/base.css">
  <link rel="stylesheet" href="pages_admin/css/login.css">
</head>

<body>
<div id="app">
  <div class="box">
    <h3>用户登录</h3>
    <div class="login">
      <input type="text" placeholder="账号" id="username" v-model="username">
      <input type="password" placeholder="密码" id="password" v-model="password">
      <input type="button" id="btn" @click="dosubmit()" value="登录">
      <a href="register.html" style="color: goldenrod ">注册</a>
    </div>

  </div>
</div>
</body>
<script src="plugins/js/vue.js"></script>
<link rel="stylesheet" href="plugins/element-ui/index.css">
<script src="plugins/element-ui/index.js"></script>
<script src="plugins/js/axios-0.18.0.js"></script>
<script src="plugins/js/login.js"></script>
</html>