<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>员工管理</title>
</head>
<body>
<div id="app">
    <div class="content-header">
        <h1>员工管理</h1>
    </div>
    <div class="app-container">
        <div class="filter-container">
            <el-input placeholder="姓名" v-model="username" style="width: 200px;"
                      class="filter-item">
            </el-input>
            <el-button @click="getAll()" class="dalfBut">查询</el-button>
            <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
        </div>
        <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
            <el-table-column type="index" align="center" label="序号"></el-table-column>
            <el-table-column prop="username" label="用户名" align="center"></el-table-column>
            <el-table-column prop="zt" label="状态" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.zt === 1">禁用</span>
                    <span v-else-if="scope.row.zt === 0">启用</span>
                </template>
            </el-table-column>
            <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">修改</el-button>
                    <el-button type="primary" size="mini" @click="handleStatus(scope.row)">
                        <span v-if="scope.row.zt === 1">启用</span>
                        <span v-else-if="scope.row.zt === 0">禁用</span>
                    </el-button>
                    <el-button type="danger" size="mini" @click="handleDelete(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>


        <!-- 新增标签弹层 -->
        <div class="add-form">
            <el-dialog title="新增用户" :visible.sync="dialogFormVisible">
                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                         label-width="100px">
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="用户名" prop="username">
                                <el-input v-model="formData.username"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="密码" prop="password">
                                <el-input v-model="formData.password"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @click="handleAdd()">确定</el-button>
                </div>
            </el-dialog>
        </div>
        <!-- 编辑标签弹层 -->
        <div class="add-form">
            <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
                <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                         label-width="100px">
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="用户名" prop="username">
                                <el-input v-model="formData.username"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="密码" prop="password">
                                <el-input v-model="formData.password"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                    <el-button type="primary" @click="handleEdit()">确定</el-button>
                </div>
            </el-dialog>
        </div>

    </div>

    <!--分页工具条-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>

</div>
</body>
<!-- 引入组件库 -->
<script src="../../plugins/js/vue.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/index.css">
<script src="../../plugins/element-ui/index.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<script src="../../plugins/js/axios-0.18.0.js"></script>
<script src="../js/emp.js"></script>
</html>