<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,employee-scalable=no" name="viewport">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>用户管理</h1>
    </div>
    <div class="app-container">
        <div class="box">
            <!--模糊查询条件-->
            <div class="filter-container">
                <el-input placeholder="用户名" v-model="user.username" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-input placeholder="真实姓名" v-model="user.realname" style="width: 180px;"
                          class="filter-item"></el-input>
                <el-select placeholder="性别" v-model="user.sex" style="width: 90px;"
                           class="filter-item">
                    <el-option value="男"></el-option>
                    <el-option value="女"></el-option>
                </el-select>
                <el-input placeholder="电话" v-model="user.phone" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-input placeholder="邮箱" v-model="user.email" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-select placeholder="用户身份" v-model="user.yhsf" style="width: 120px;"
                           class="filter-item">
                    <el-option value="1" label="房东"></el-option>
                    <el-option value="0" label="租客"></el-option>
                    <el-option value="2" label="待审核状态"></el-option>
                </el-select>
                <el-select placeholder="启用状态" v-model="user.zt" style="width: 120px;"
                           class="filter-item">
                    <el-option :value="1" label="禁用"></el-option>
                    <el-option :value="0" label="启用"></el-option>
                </el-select>
                <span>
                    <el-button type="primary" @click="getAll()" class="dalfBut">查询</el-button>
                    <el-button type="primary" @click="cz()" class="dalfBut">重置</el-button>
                </span>
            </div>

            <!-- 表格-->
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                <el-table-column prop="realname" label="真实姓名" align="center"></el-table-column>
                <el-table-column prop="sfz" label="身份证" align="center"></el-table-column>
                <el-table-column prop="sex" label="性别" align="center"></el-table-column>
                <el-table-column prop="phone" label="电话" align="center"></el-table-column>
                <el-table-column prop="email" label="邮箱" align="center"></el-table-column>
                <el-table-column prop="yhsf" label="用户身份" align="center">
                    <template slot-scope="scope">
                        <span v-if="scope.row.yhsf === 1">房东</span>
                        <span v-else-if="scope.row.yhsf === 0">租客</span>
                        <span v-else-if="scope.row.yhsf === 2">待审核状态</span>
                    </template>
                </el-table-column>
                <el-table-column prop="zt" label="状态" align="center">
                    <template slot-scope="scope">
                        <span v-if="scope.row.zt === 1">禁用</span>
                        <span v-else-if="scope.row.zt === 0">启用</span>
                    </template>
                </el-table-column>
                <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">修改</el-button>
                        <el-button type="danger" size="mini" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户名" prop="username">
                                    <el-input v-model="formData.username"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="真实姓名" prop="realname">
                                    <el-input v-model="formData.realname"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别" prop="sex">
                                    <el-radio-group v-model="formData.sex">
                                        <el-radio label="男">男</el-radio>
                                        <el-radio label="女">女</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="身份证" prop="sfz">
                                    <el-input v-model="formData.sfz"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="电话" prop="phone">
                                    <el-input v-model="formData.phone"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="邮箱">
                                    <el-input v-model="formData.email" type="email"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户身份" prop="yhsf">
                                    <el-radio-group v-model="formData.yhsf">
                                        <el-radio :label="1">房东</el-radio>
                                        <el-radio :label="0">租客</el-radio>
                                        <el-radio :label="2">待审核状态</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="账号状态">
                                    <el-radio-group v-model="formData.zt">
                                        <el-radio :label="0">启用</el-radio>
                                        <el-radio :label="1">禁用</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="resetForm()">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
    <!--分页工具条-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../../plugins/js/vue.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/index.css">
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/js/axios-0.18.0.js"></script>
<script src="../js/admin-userlist.js"></script>

</html>